<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.hashtag.projectelo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_elo_rounded_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_elo_rounded"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Activities.HomeActivity"
            android:theme="@style/MyMaterialTheme"></activity>
        <activity android:name=".Activities.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Activities.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.UserProfile"
            android:label="@string/app_name"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.FeaturedArticle"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.OpenSourceActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.Register_Activity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.NewReviewActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.ProductReview"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.Wishlist"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.WishlistAddItem"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.ViewUserProfile"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".Activities.FollowerList" />
        <activity
            android:name=".Activities.UserDeviceActivity"
            android:label="@string/title_activity_user_device"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>